{
    order trojan before respond
    https_port 2307
    servers :2307 {
        listener_wrappers {
            trojan
        }
        protocols h2 h1
    }
    trojan {
        caddy
        no_proxy
    }
}
:80 {
    redir https://{host}{uri} permanent
}
mips.icu:443 {
    encode gzip zstd
    tls 89.208.251.226@mips.icu {
        protocols tls1.2 tls1.3
    }
    file_server {
        root /var/www/html
        index index.html
    }
    handle_path /file* {
        file_server {
            root /var/www/file
            index none
            browse
        }
    }
}
:2307, mips.icu {
    tls 89.208.251.226@mips.icu {
        protocols tls1.2 tls1.2
        ciphers TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
    }
    log {
        level ERROR
    }
    trojan {
        websocket
    }
    respond "Service Unavailable" 503 {
        close
    }
}
